@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
body{
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board h1{
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.title {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Pokemon Solid', sans-serif;                                         
  display: flex;
  justify-content: center;
  font-size: 80px;
}
